
reversoCarta
{
background: #f4f4f4;
background: -moz-linear-gradient(-45deg, #f4f4f4 0%, #f279e4 0%, #05002b 100%);
background: -webkit-linear-gradient(-45deg, #f4f4f4 0%,#f279e4 0%,#05002b 100%);
background: linear-gradient(135deg, #f4f4f4 0%,#f279e4 0%,#05002b 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#05002b',GradientType=1 );
}

voltear
{
-moz-transform: scale(2) rotate(90deg) skewX(180deg);
-webkit-transform: scale(2) rotate(90deg) skewX(180deg);
-o-transform: scale(2) rotate(90deg) skewX(180deg);
-ms-transform: scale(2) rotate(90deg) skewX(180deg);
transform: scale(2) rotate(90deg) skewX(180deg);
}

desvoltear
{
-moz-transform: scale(2) rotate(90deg) skewX(0deg);
-webkit-transform: scale(2) rotate(90deg) skewX(0deg);
-o-transform: scale(2) rotate(90deg) skewX(0deg);
-ms-transform: scale(2) rotate(90deg) skewX(0deg);
transform: scale(2) rotate(90deg) skewX(0deg);
}